//@import url('https://fonts.googleapis.com/css?family=Pacifico');

page-login {
  .bg {
    height: 100%;
    width: 100%;
    background: linear-gradient(160deg, #B627F2 30%, #10DFC8 70%);
    position: fixed;
  }
  .head {
    position: relative;
    display: block;
    color: #fff;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .head h1 {
    font-size: 7vh !important;
    font-weight: lighter !important;
    font-family: 'Pacifico', cursive;
    position: relative;
  }
  .head img {
    width: 150px;
    height: 150px;
    position: relative;
  }
  .head h5 {
    font-family: cursive;
    margin-top: -1.5%;
    font-weight: 200;
    font-size: 2.5vh;
  }
  .inputs {
    position: absolute;
    display: block;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: #fff;
    opacity: 0.8;
  }
  ion-item {
    background: transparent !important;
    border: 1px solid #fff !important;
    border-radius: 8px;

    ion-input {
      color: #000000;

    }
    ion-label {
      color: #fff !important;
    }
    .item-inner {
      border: 0 !important;
      margin-top: 5px;
    }

  }

  .pass {
    margin-top: 2px;
  }

  button {
    position: absolute;
    display: block;
    top: 50%;
    border: 1px solid #fff;
    box-shadow: 0px;
    border-radius: 5px;
  }

  .lien {
    color: black;
    text-decoration: none;
  }

  .btn-face {
    background-color: #428bca;
    color: white;
    margin-top: 2%;

  }

  .btn-gmail {
    background-color: #d9534f;
    color: white;
    margin-top: 10%;

  }


  .ads{
    margin-right: 10%;
    margin-top: 3%;
    float: right;
  }


  //.no-ads {
  //  .ads-icon {
  //    font-size: 25px;
  //    color: white;
  //    top: 6%;
  //    position: fixed;
  //    right: 12%;
  //    z-index:-1;
  //    opacity: 0.7;
  //
  //  }
  //  .line2 {
  //    width: 38px;
  //    height: 47px;
  //    border-bottom: 3px solid black;
  //    -webkit-transform: translateY(20px) translateX(5px) rotate(-50deg);
  //    top: -0.8%;
  //    position: fixed;
  //    right: 16.5%;
  //  }
  //}
  //
  //.with-ads  {
  //  .ads-icon {
  //    font-size: 25px;
  //    color: white;
  //    top: 6%;
  //    position: fixed;
  //    right: 12%;
  //    z-index:-1;
  //
  //  }
  //  .line2 {
  //    width: 38px;
  //    height: 47px;
  //    border-bottom: 3px solid black;
  //    -webkit-transform: translateY(20px) translateX(5px) rotate(-50deg);
  //    top: -0.8%;
  //    position: fixed;
  //    right: 16.5%;
  //    opacity: 0;
  //  }
  //}

}
