page-todolist {
  .fixed-div {
    right: 4%;
    bottom: 1%;
  }


  .btn-more {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.9);
    color: black;
    background-color: transparent;
    //margin-top: 15px;
  }
  .list-avatar-page {
    //height: 100%;

    //img {
    //  width: 66px;
    //  height: 66px;
    //  //padding-top: 7%;
    //
    //}

    ion-note {
      font-size: 12px;
      align-self: flex-start;
      margin-left: -25%;
    }
    //h2{
    //  padding-top: 8%;
    //  color: Black;
    //  font-size: large;
    //}
    //ion-item {
    //  height: 15%;
    // // margin-bottom: 3%;
    //}

  }
}
