page-sharedtodoliste {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
  }

  .fixed-div {
    left: 4%;
    bottom: 1%;
  }

  .notification{
    float: right;
    margin-right: 5.5%;
  }

}
